/.idea
# Laravel/Docker env files
.env
.env.local
.env.*.local

# Dependencies & builds
/node_modules
/vendor
/public/build

# Runtime caches & keys
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/logs

# IDE + OS
/.vscode
/.DS_Store

